# adbd
allow ctl_adbd_prop ctl_adbd_prop:file { map };

# apexd
allow ctl_apexd_prop ctl_apexd_prop:file { getattr  open };

allow ctl_stop_prop ctl_stop_prop:property_service { set };