allow exported2_default_prop exported2_default_prop:property_service { set };
allow exported_default_prop exported_default_prop:property_service { set };
allow exported_fingerprint_prop exported_fingerprint_prop:property_service { set };